@tailwind base;
@tailwind components;
@tailwind utilities;

.first{
  width: inherit;
  max-height: 500px;
  overflow-y: auto;
}
.first::-webkit-scrollbar{
  width: 0px;
}
.uniqueone {
  /* color: black; */
    -webkit-text-fill-color: black;
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px #727272E0
}
.rotateimage{
  -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  
 .link{
  /* text-gray-300 font-bold text-[20px] */
  font-weight: bold;
  color: rgba(128, 128, 128, 0.663);
  font-size: 20px;

 }
  
 .active{
  color: rgb(149, 184, 9);
  font-size: 20px;
  font-weight: bold;
 }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

